# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Workspaces
#**/workspaces

# Crash log files
crash.log
crash.*.log

# .tfvars files
#*.tfvars
#*.tfvars.json

# override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration files
.terraformrc
terraform.rc